html {
    height: 100%;
}

body {
    height: 100%;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #002E66;
    opacity: .65;
}
.background-image {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: url('./space_ship.jpg') no-repeat 50% 50% /cover;
}

.masthead {
    position: relative;
    overflow: hidden;
    padding-bottom: 3rem;
    z-index: 2;
}

.input {
    font-weight: 300;
}

td, th {
    text-align: center;
    outline: none;
}

th:nth-child(1), td:nth-child(1) {
    text-align: right;
}
td:nth-child(1):after {
    content: ' '
}
th:nth-child(2), td:nth-child(2) {
    text-align: left;
}
td:last-child {
    padding: 0;
}

tfoot th {
    font-weight: 400;
}
.full-page {
    min-height: 100vh;
    align-items: stretch;
    z-index: 1;
    position: relative;
}
.full-page > div:last-child {
    background-color: rgba(0,0,0,.65);
}
.full-page > div:first-child {
    background-color: rgba(0,0,0,.21);
}
code {
    color: #fd0
}
.form-check-input {
    margin-top: .75rem;
}
.form-check {
    line-height: 38px;
}
.fixed-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}
.loader {
    border: 5px solid rgba(255,255,255,.21);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table-borderless th, .table-borderless td {
    border-top: 1px solid rgba(255,255,255,.12);
}
[data-padding-right] .fixed-panel {
    flex-basis: calc((100% - 15px)/3);
    max-width: calc((100% - 15px)/3);
    right: 15px;
}
.modal-backdrop {
    background-color: #245580;
    opacity: .75
}
.modal-dialog [role="document"] {
    background-color: rgba(0,0,0,.85);
    color: #BADA55;
}
.close {
    color: white;
    text-shadow: 0 2px 0 black;
    outline: none !important;
}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    color: #BADA55;
}
.btn-link {
    color: white;
    opacity: .65;
    transition: opacity .2s linear;
}
.btn-link:hover {
    color: white;
    opacity: 1;
}
