html {
  height: 100%;
}

body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #002E66;
  opacity: .65;
}

.background-image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: url('./space_ship.jpg') no-repeat 50% 50% /cover;
}

.input {
  font-weight: 300;
}

td, th {
  text-align: center;
  outline: none;
  &:first-child {
    text-align: right;
  }
  &:nth-child(2) {
    text-align: left;
  }
}

td:nth-child(1):after {
  content: ' '
}

td:last-child {
  padding: 0;
}

tfoot th {
  font-weight: 400;
}

.full-page {
  min-height: 100vh;
  align-items: stretch;
  z-index: 1;
  position: relative;
  & > div:last-child {
    background-color: rgba(0, 0, 0, .65);
  }
  & > div:first-child {
    background-color: rgba(0, 0, 0, .21);
  }
}

code {
  color: #fd0
}

.form-check {
  line-height: 38px;
  &-input {
    margin-top: .75rem;
  }
}

.fixed-panel {
  position: fixed;
  @media(max-width: 575px) {
    position: static;
  }
  top: 0;
  right: 0;
  bottom: 0;
  [data-padding-right] & {
    flex-basis: calc((100% - 15px) / 3);
    max-width: calc((100% - 15px) / 3);
    right: 15px;
  }
}

.loader {
  border: 5px solid rgba(255, 255, 255, .21);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
@media (min-width: 1200px) {
  td[aria-colindex="4"] {
    min-width: 193px;
  }
}

@media (max-width: 767px) {
  td[aria-colindex="2"] {
    background-color: rgba(0, 0, 0, .65);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.table-borderless {
  th, td {
    border-top: 1px solid rgba(255, 255, 255, .12);
  }
}

.modal-backdrop {
  background-color: #245580;
  &.show {
    opacity: .75
  }
}

.modal-dialog [role="document"] {
  background-color: rgba(0, 0, 0, .85);
  color: #BADA55;
}

.close {
  color: white;
  text-shadow: 0 2px 0 black;
  outline: none !important;
}

.close:not(:disabled):not(.disabled) {
  &:hover, &:focus {
    color: #BADA55;
  }
}

.btn-link {
  color: white;
  opacity: .65;
  transition: opacity .2s linear;
  &:hover {
    color: white;
    opacity: 1;
  }
}
.custom-control {
  cursor: pointer;
  * {
    cursor: pointer;
  }
  .custom-control-input:focus ~ &-label::before {
    box-shadow: none;
  }
}
sup i {
  cursor: pointer;
}
